#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

form{
  display: flex;
  flex-direction: column;
}

*{
  box-sizing: border-box;
}

input{
  width: 400px;
  height: 50px;
  background-color: white;
  color: black;
  font-size: 23px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

label{
  font-size: 30px;
  margin-top: 20px;
}

.button{
  padding: 0;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: center;
  margin-top: 30px;
  font-weight: 900;
}

input::placeholder{
  color: gray;
}

p{
  color: red;
}